
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
 
}

.d1{
  width: 100%;
  height:100vh;
}
.d2{
  width:100%;
  height:20px;
  object-fit: cover;
  gap: 40px;
}
.b1{
  border-radius: noun;
}
:hover .b1{
  cursor: pointer;
}